node_modules
dist
.git
.gitignore
.gitattributes
.husky
.vscode
cli
docs
logs
migrations
scripts
setup
start-servers.ps1
nodemon.json
jest.config.js
eslint.config.mjs
.prettierrc
commitlint.config.js
docker
